:root {
  --hover-brightness: 1.1;
  --hover-transition-time: 0.2s;
  --default-box-shadow-value: 0 2px 4px rgba(0, 0, 0, 0.3);
}

[theme="dark"] {
  --primary-color: #272829;
  --secondary-color: #1f1f1f;
  --tertiary-color: #2D3742;
  --elem-background-color: #323236;
  --font-primary-color: #dbdbdb;
  --font-secondary-color: var(--font-primary-color);
  --photo-opacity: .75;
}

[theme="light"] {
  --primary-color: #EEEEFF;
  --secondary-color: #214a76;
  --tertiary-color: #476789;
  --elem-background-color: #e8f3ff;
  --font-primary-color: #1f1f1f;
  --font-secondary-color: #dbdbdb;
  --photo-opacity: 1.0;
}


/* General */
a {
  color: var(--font-primary-color);
}

body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
  background-color: var(--primary-color);
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    "header header"
    "nav nav"
    "aside main"
    "footer footer";
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px; 
}


/* Header */
header-component {
  grid-area: header;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
  background-color: var(--secondary-color);
  color: var(--font-secondary-color);
  padding: 25px 0;
}

header h1 {
  margin: 10px;
  text-transform: uppercase;
  font-size: clamp(1rem, 8vw, 3rem); 
}


/* Light/Dark mode toggle */
#theme-switch-container {
  position: relative;
  color: var(--font-secondary-color);
  width: 75px;
  transform: translateY(-13px);
}

#theme-slider input {
  display: none;
}

.slider-background {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  background-color: var(--secondary-color);
  transition: .4s;
  height: 26px;
  border-radius: 34px;
}

.slider-ball {
  position: absolute;
  content: "";
  height: 19px;
  width: 19px;
  top: 50%; /* Center the slider ball vertically */
  left: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
  transform: translateY(-50%); /* Adjust vertical alignment */
}

input:checked + .slider-background .slider-ball {
  left: calc(100% - 22px); /* Adjust the value to make the slider ball go all the way to the right */
}


/* Navigation bar */
navbar-component {
  grid-area: nav;
}

nav {
  position: relative;
  background-color: var(--tertiary-color);
  box-shadow: var(--default-box-shadow-value);
  z-index: 1;
  font-weight: bold;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
}

.navbar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navbar-container a {
  text-decoration: none;
  color: var(--font-secondary-color);
  padding: 20px;
  transition: filter var(--hover-transition-time) ease;
  background-color: var(--tertiary-color);
  z-index: 1;
}

.navbar-container a:hover {
  filter: brightness(var(--hover-brightness));
}

.dropdown {
  position: relative;
}

.dropdown:hover .dropdown-content {
  display: flex;
}

.dropdown-content {
  display: none;
  position: absolute;
  white-space: nowrap;
  background-color: var(--tertiary-color);
  flex-direction: column;
  margin-top: 20px;
  z-index: 2;
}

.dropdown-content a {
  padding: 20px;
  transition: filter var(--hover-transition-time) ease;
  background-color: var(--tertiary-color);
  box-shadow: var(--default-box-shadow-value);
}


/* Aside */
aside-component {
  grid-area: aside;
  display: flex;
}

aside {
  box-shadow: var(--default-box-shadow-value);
  background-color: var(--elem-background-color);
  z-index: 0;
}

aside figure {
  margin: clamp(0px, 2vw, 100px);
}

aside figure figcaption {
  text-align: center;
  color: var(--font-primary-color);
  font-style: italic;
}

aside figure img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  box-shadow: var(--default-box-shadow-value);
}


/* Main */
main {
  grid-area: main;
  max-width: 100%;
  overflow-wrap: break-word;
  overflow: hidden;
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  min-height: 100vh;
  padding: 0 clamp(0px, 4vw, 100px);
}

main p {
  line-height: 200%;
  font-size: 1vw;
}


/* Footer */
footer-component {
  grid-area: footer;
}

footer {
  display: flex;
  justify-content: center;
  z-index: 2;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
  margin-top: auto;
  background-color: var(--secondary-color);
  color: var(--font-secondary-color);
  padding: 25px 0;
}


/* Other */
#javascript-off-warning {
  text-align: center;
  color: var(--font-secondary-color);
  font-style: italic;
}

.see-also {
  font-style: italic;
  font-weight: bold;
}

header, footer, .navbar-container, aside, main {
  transition: background-color var(--hover-transition-time) ease;
}

img {
  transition: filter var(--hover-transition-time) ease;
  filter: opacity(var(--photo-opacity));
}
