:root {
  --default-box-shadow-value: 0 2px 4px rgba(0, 0, 0, 0.3);
  --hover-brightness: 1.5;
  --hover-transition-time: 0.2s;
  --slider-ball-width: 19px;
  --slider-ball-offset: 3%;
  --primary-color: #272829;
  --secondary-color: #191d21;
  --tertiary-color: #2D3742;
  --elem-background-color: #4b4b4f;
  --font-primary-color: #dbdbdb;
  --font-secondary-color: var(--font-primary-color);
  --photo-opacity: .8;
}

/* General */
* {
  padding: 0;
  margin: 0;
  color: var(--font-primary-color);
  font-size: 1rem;
}

a {
  color: var(--font-primary-color);
  text-decoration: none;
}

body {
  background-color: var(--primary-color);
  display: flex;
  font-family: "Roboto", Arial, sans-serif;
  flex-direction: column;
}

h1 {
  font-size: 2rem;
  text-align: center;
  padding-bottom: 1rem;
}

h2 {
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-align: center;
}

h3 {
  font-size: 1.2rem; 
  margin-bottom: .6rem;
}


/* Header */
header-component {
  grid-area: header;
}

header {
  background-color: var(--secondary-color);
  color: var(--font-secondary-color);
  display: flex;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
  font-size: 8vw;
  justify-content: center;
  padding: 3vw;
  text-transform: uppercase;
}

/* Navigation bar */
navbar-component {
  grid-area: nav;
}

#navbar-container {
  align-items: center;
  background-color: var(--tertiary-color);
  box-shadow: var(--default-box-shadow-value);
  display: flex;
  flex-wrap: wrap;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
  font-weight: bold;
  justify-content: center;
  border-bottom: .25vh black solid;
}

#navbar-container a {
  background-color: inherit;
  color: var(--font-secondary-color);
  padding: .5rem;
  font-size: 3vw;
  text-decoration: none;
  transition: filter var(--hover-transition-time) ease;
  z-index: 1;
}

#navbar-container .dropdown {
  background-color: inherit;
}

#navbar-container .dropdown a {
  display: flex;
}

#navbar-container a:hover {
  filter: brightness(var(--hover-brightness));
}

.dropdown:hover .dropdown-content {
  display: flex;
  z-index: 2;
  background-color: inherit;
  filter: brightness(var(--hover-brightness));
}

.dropdown-content {
  background-color: var(--tertiary-color);
  display: none;
  flex-direction: column;
  position: absolute;
}


/* Aside */
aside-component {
  display: none;
}


/* Showcase */
#showcase {
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(15vh, 1fr));
  gap: 1vw;
}

.exhibit a {
  height: 15vh;
  display: flex;
  flex-direction: column;
  border: .25em var(--elem-background-color) solid;
  position: relative;
  justify-content: space-between;
}

.exhibit img {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  opacity: 60%;
  z-index: 0;
  transition-duration: var(--hover-transition-time);
}

.exhibit img:hover {
  opacity: 100%;
}

.exhibit-tags {
  z-index: 1;
  font-weight: bolder;
  font-size: .7rem;
  background-color: rgba(0, 0, 0, 0.33);
}

.exhibit figcaption {
  text-align: center;
  font-weight: bolder;
  z-index: 1;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.8);
}

/* Main */
main {
  background-color: var(--primary-color);
  color: var(--font-primary-color);
  grid-area: main;
  overflow-wrap: break-word;
  padding: 2vh 2vw;
}

#wip-disclaimer p {
  font-size: .8rem;
  font-style: italic;
}

.main-section {
  margin: 2rem;
}

.main-section h1 {
  text-transform: uppercase;
}

main p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
}

.blog-entry {
  padding-bottom: 4rem;
}


/* Footer */
footer-component {
  grid-area: footer;
}

footer {
  background-color: var(--secondary-color);
  color: var(--font-secondary-color);
  display: flex;
  font-family: "Akshar", Arial, Helvetica, sans-serif;
  justify-content: center;
  padding: 2rem 0;
  z-index: 2;
}


/* Other */
img {
  filter: opacity(var(--photo-opacity));
}

.see-also {
  font-style: italic;
  font-weight: bold;
}


/* DESKTOP MEDIA QUERIES */
@media screen and (min-width: 768px) {
  header {
    padding: 3vh;
    font-size: 4vw;
  }

  #navbar-container a {
    font-size: 1.1rem;
    padding: 1rem;
  }
  
  body {
    display: grid;
    font-family: "Roboto", Arial, sans-serif;
    grid-template:
      "header header" auto
      "nav nav" auto
      "aside main" auto
      "footer footer" auto
      / 1fr 4fr;
  }

  /* Aside */
  aside-component {
    display: flex;
    grid-area: aside;
  }

  aside {
    background-color: var(--elem-background-color);
    box-shadow: var(--default-box-shadow-value);
    z-index: 0;
  }

  aside img {
    border-radius: 5px;
    box-shadow: var(--default-box-shadow-value);
    height: auto;
    width: 100%;
    opacity: 85%;
  }

  aside figure {
    margin: clamp(0px, 2vw, 100px);
  }

  figure figcaption {
    font-style: italic;
    text-align: center;
  }


  .main-section {
    margin-bottom: 4rem;
  }


  /* Showcase */
  #showcase {
    grid-template-columns: repeat(auto-fit, minmax(20vw, 1fr));
  }

  .exhibit a {
    height: 20vh;
  }

  .exhibit-tags {
    font-size: .75rem;
  }

  .exhibit figcaption {
    font-size: 1rem;
  }
}